body {
    margin: 0;
    height: 100vh;
}

#main-header {
    height: 50vh;
    display: block;
    text-align: center;
    background-image: url('../obrazy/man-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: visible;
    font-family: 'Verdana';
    
}

h1{
    font-size: 25px;
}

h2 {
    font-size: 20px;
    padding-bottom: 20px;
    
}

.header-properties {
    position: relative;
    top: 60vh;
    display: block;
    margin: 0;
}